:root {
    --text-color: var(--ctp-latte-text);
    --text-invert-color: var(--ctp-latte-base);
    --background-color: var(--ctp-latte-base);
    --primary-color: var(--ctp-latte-sky);
    --secondary-color: var(--ctp-latte-crust);
    --block-background-color: var(--ctp-latte-surface0);
    --global-font-size: 16px;
    --global-line-height: 1.4em;
    --global-space: 10px;
    --font-stack: , serif;
    --mono-font-stack: oxygen_mono_regular, mono;

}
@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--ctp-macchiato-text);
        --text-invert-color: var(--ctp-macchiato-base);
        --background-color: var(--ctp-macchiato-base);
        --primary-color: var(--ctp-macchiato-sky);
        --secondary-color: var(--ctp-macchiato-crust);
        --block-background-color: var(--ctp-macchiato-surface0);

    }
}

body {
    padding: 0;
    color: var(--text-color);
    font-size: var(--global-font-size);
    line-height: var(--global-line-height);
    font-family: var(--font-stack);
    background-color: var(--background-color);
}

#main,
header {
    padding: 0;
    margin: 0 auto;
    max-width: 700px;
}
h2 {
    line-height: 1.4em;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    background-color: var(--primary-color);
    color: var(--text-invert-color);
}
nav a {
    margin: 1%;
}

/* Make lists look cool like in terminal.css */
ul {
    list-style-type: "- ";
    padding-left: 2em;
}
/* li::before { */
/*   content: "-"; */
/*   position: absolute; */
/*   top: -1em; */
/*   left: -1em; */
/* } */

ol li::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

ol ol li::before {
  content: counters(item, ".") " ";
  counter-increment: item;
}

.timeline {
    
}

header {
    text-align: center;
}

hr {
    border-bottom: 1px dashed var(--secondary-color);
    overflow: hidden;
    position: relative;
    margin: 2em 0;
}

img {
    width: 100%;
}

.inline {
    width: unset !important;
    display: inline-block;
}

p {
    margin-top: 0;
    color: var(--text-color);
}

pre {
    white-space: pre-wrap;
    font-family: var(--mono-font-stack);
    background-color: var(--block-background-color);
}
pre code {
    font-family: var(--mono-font-stack);
}

.post-header h2 {
    margin-bottom: 0;
}
.post-header::after {
    margin-bottom: 10%;
}
    
